#content_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#content_list li{
    color:white;
    list-style: none;
    background: rgba(154, 146, 232, .2);
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;

}


@media (min-width: 420px){
    #content_list li{
        margin-left: 1em;
    }
}
